@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

@font-face {
    font-family: 'Pokemon Solid', sans-serif, monospace;
    src: url('http://fonts.cdnfonts.com/css/pokemon-solid') format('woff2');
    src: url('http://fonts.cdnfonts.com/css/pokemon-solid') format('woff');
    src: url('http://fonts.cdnfonts.com/css/pokemon-solid') format('truetype');
    font-display: optional; 
}

body {
    font-family: 'Pokemon Solid', sans-serif;
    background-image: url(https://external-preview.redd.it/nIBSaLdr_qlU5r4x2mv2PxZpu2eXB0y06cQQrxANKco.png?width=640&crop=smart&format=pjpg&auto=webp&s=bcc90118972ec25992ede3318a88f36a4f9ee3d8); 
    background-size: cover;                
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
}

img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

span {
    position: absolute;
    right: 0;
    margin-right: 10px;
    padding: 10px;
}



#signup {
    margin-right: 20px;
    color: black;
}

#signup:hover {
    color: whitesmoke;
}

#login {
    color: black;
    margin-right: 20px;
}

#login:hover {
    color: whitesmoke;
}

a {
    color: black;
}

a:hover {
    color: whitesmoke;
}

h1 {
    text-align: center;
}

h1:hover {
    color: whitesmoke;
}

ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 200px;
    padding: 10px;
    padding-bottom: 10px;
}

li {
    list-style: none;
}

input[type=text] {
    padding: .9em;
    font-family: 'Pokemon Solid', sans-serif;
    min-height:80px;
    min-width: 1000px;
}
  
input[type=submit] {
    padding: .3em;
    color: black;
    background: aqua;
    font-size: 1em;
    border-radius: 10%;
    font-family: 'Pokemon Solid', sans-serif;
}

#comments {
    text-align: right;
}

h4 {
    color: blue;
    font-weight: lighter;
}

h4:hover {
    color: whitesmoke;
}

#forum {
    position: absolute;
    left: 850px;
    top: 500px;
}

#github {
    position: absolute;
    left: 900px;
    top: 800px;
}

img {
    float: middle;
    width:  250px;
    height: 250px;
    /* object-fit: cover; */
}

#here {
    position: relative;
    top: 200px;
    font-weight: lighter;
}